GOOGLE_API_KEY=...
GROQ_API_KEY=gsk...
LANGCHAIN_API_KEY=lsv...

POSTGRES_HOST=127.0.0.1
POSTGRES_PORT=5433
POSTGRES_DB=ragdb
POSTGRES_USER=postgres
POSTGRES_PASSWORD=password

#MINIO_ENDPOINT=127.0.0.1:9002
MINIO_ENDPOINT=minio:9000
MINIO_ACCESS_KEY=minioadmin
MINIO_SECRET_KEY=minioadmin
MINIO_BUCKET=rag-documents
MINIO_SECURE=False
MINIO_PUBLIC_ENDPOINT=localhost:9002

JWT_SECRET_KEY=f8...
JWT_ALGORITHM=HS256
JWT_ACCESS_TOKEN_EXPIRE_MINUTES=10080 #7 jours

LITELLM_LOCAL_MODEL_COST_MAP=True
LITELLM_TELEMETRY=False
DISABLE_LITELLM_TELEMETRY=True

CHROMA_PERSIST_DIR=./data/chroma

# Pour Solution 100% local tu doit Retirer : GOOGLE_API_KEY, GROQ_API_KEY, GEMINI_API_KEY, LANGCHAIN_API_KEY

# Mode 100% Local (Ollama)
USE_LOCAL_LLM=true
OLLAMA_BASE_URL=http://localhost:11434
LLM_MODEL=mistral
VISION_MODEL=llama3.2-vision:11b
EMBEDDING_MODEL=bge-m3
LANGCHAIN_TRACING_V2=false