# Environnement virtuel & Python
.venv/
venv/
env/

__pycache__/
*.py[cod]
*$py.class
*.so
.pytest_cache/
.coverage
htmlcov/

# Variables d'environnement & Secrets
.env
*.env

# Données locales & Persistance RAG (ChromaDB, Uploads, Fichiers temporaires)
data/chroma/*
data/temp/*
data/uploads/*
*.sqlite3
*.db
chunks/*
content/*
extracted_images/*

# Cache Jupyter Notebook & exports temporaires
.ipynb_checkpoints/
image_summaries_partial.json
*.ipynb


# IDEs & Éditeurs
.vscode/
.idea/
*.swp
*.swo

# Fichiers système OS
.DS_Store
Thumbs.db

# Fichiers sensibles et sauvegardes BDD
backup.sql
*.sql

# ==========================================
# 1. Dépendances & Builds (Node / Frontend)
# ==========================================
**/node_modules/
dist/
frontend/dist/
build/
.vite/
.eslintcache
package-lock.json.log

# ==========================================
# 8. Logs
# ==========================================
*.log
logs/

streamlit/*